#my-div {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
}

#node {
  width: 10px;
  height: 10px;
  background-color: red;
  margin: 200px;
}
