<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/styles.css"/>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script type = "text/javascript" src="/static/index.js"></script>
        <meta charset="UTF-8">
        <title>Test</title>
    </head>
    <body>
{#        <h1>This is only a test website.</h1>#}

        <script>
            // Set the dimensions and margins of the diagram
            var margin = {top: 40, right: 90, bottom: 50, left: 90},
                w = 660 - margin.left - margin.right,
                h = 500 - margin.top - margin.bottom;

            // append the svg object to the body of the page
            var svg = d3.select('body').append('svg')
                .attr('width', w + margin.left + margin.right)
                .attr('height', h + margin.top + margin.bottom);

            // appends a 'group' element to 'svg'
            // moves the 'group' element to the top left margin
            var g = svg.append('g')
                .attr('transform',
                    'translate(' + margin.left + ',' + margin.top + ')');

            // declares a tree layout and assigns the size
            var tree = d3.tree()
                .size([w, h]);

            // Assigns parent
            var nodes = d3.hierarchy(data);

            // Assigns the x and y position for the nodes
            nodes = tree(nodes);

            // adds the links between the nodes
            var link = g.selectAll(".link")
                .data(nodes.descendants().slice(1))
                .enter()
                .append("path")
                .attr("class", "link")
                .attr("d", (d) => {
                    return "M" + d.x + "," + d.y
                        + "C" + d.x + "," + (d.y + d.parent.y) / 2
                        + " " + d.parent.x + "," + (d.y + d.parent.y) / 2
                        + " " + d.parent.x + "," + d.parent.y;
                })
                .attr('fill', 'none')
                .attr('stroke', '#ccc')
                .attr('stroke-width', 2);

            // adds each node as a group
            var node = g.selectAll('.node')
                .data(nodes.descendants())
                .enter()
                .append('g')
                .attr('class', (d) => {
                    return "node" +
                        (d.children ? " node--internal" : " node--leaf");
                })
                .attr("transform", (d) => "translate(" + d.x + "," + d.y + ")");

            // adds the circle to the node
            node.append('circle')
                .attr('r', 10)
                .attr('fill', 'steelblue');

            // adds the text to the node
            node.append("text")
                .attr("dy", 3)
                .attr("y", (d) => d.children ? -20 : 20)
                .style("text-anchor", (d) => d.children ? "end" : "start")
                .text((d) => d.data.name);
        </script>

{#        <script>#}
{#            function fetchJSONData() {#}
{#                fetch("data.json")#}
{#                    .then((res) => {#}
{#                        if (!res.ok) {#}
{#                            throw new Error#}
{#                            (`HTTP error! Status: ${res.status}`);#}
{#                        }#}
{#                        return res.json();#}
{#                    })#}
{#                    .then((data) =>#}
{#                        console.log(data))#}
{#                    .catch((error) =>#}
{#                        console.error("Unable to fetch data:", error));#}
{#            }#}
{##}
{#            fetchJSONData();#}
{##}
{#            var canvas = d3.select("body").append("svg")#}
{#                .attr("width", 500)#}
{#                .attr("height", 500)#}
{#                .append("g")#}
{#                    .attr("transform", "translate(50, 50)");#}
{##}
{#            var tree = d3.layout.tree()#}
{#                .size([400, 400]);#}
{##}
{#            d3.json("data.json", function(data){#}
{#                var nodes = tree.nodes(data);   {# runs tree layout and returns objects in data as an array #}
{#                console.log(nodes)#}
{#                var links = tree.links(nodes);#}
{##}
{#                var node = canvas.selectAll(".node")#}
{#                    .data(nodes)#}
{#                    .enter()#}
{#                    .append("g")#}
{#                        .attr("class", "node")#}
{#                        .attr("transform", function(d) {#}
{#                            return "translate(" + d.x + "," + d.y + ")" ;#}
{#                        })#}
{##}
{#                node.append("circle")#}
{#                    .attr("r", 5)#}
{#                    .attr("fill", "steelblue");#}
{#            })#}
{##}
{#        </script>#}

{#        <p>It should be able to display a tree.</p>#}
{#        <button onclick="changeColor()">Change color</button>#}
{#        <button onclick="buildTree()">start tree</button>#}
{#        <div id="my-div"></div>#}
{#        <div style="width:400px;height:400px;border:1px solid black">#}
{#            <svg xmlns="http://www.w3.org/2000/svg"viewBox="0 0 100 100" id="inline-svg">#}
{#                <circle cx="50" cy="50" r="5" stroke="black" stroke-width="1" fill="white"></circle>#}
{#                <text x="45" y="43" font-size="3">Root Node</text>#}
{#            </svg>#}
{#        </div>#}
    </body>
</html>